.nav {
    grid-area: n;
    background-color: #96a1b6;
    color: white;
    padding: 10px;
  }

.item {
    color: white;
    padding: 10px;
    text-decoration: none;
  }

.active {
    color: gold;
    padding: 10px;
  }

  
.item a.activeLink {
    color: gold;
    padding: 10px;
  }

